<p id="notice"><%= notice %></p>

<div class="wrapper">
  <h1 class="text-center">All Blogs</h1>
  <ul class="blog--list blog--list-header">
    <li>image</li>
    <li>title</li>
    <li>published</li>
  </ul>
  <ul class="blog--list blog--list-body">
    <% @blogs.each do |blog| %>
      <li><img src="<%= blog.gram_photo%>" alt=""></li>
      <li><%= blog.title %></li>
      <li><%= blog.published%></li>
      <li><%= link_to 'Show', blog, class: 'button button--primary' %></li>
      <li><%= link_to 'Edit', edit_blog_path(blog), class: 'button button--edit' %></li>
      <li><%= link_to 'Delete', blog, class: 'button button--danger',method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
  </ul>

  <%= will_paginate @blogs %>

  <br>

  <%= link_to 'New Blog', new_blog_path, class: 'button button--primary' %>
</div>
