<p id="notice"><%= notice %></p>

<h1>Listing Grams</h1>

<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grams.each do |gram| %>
      <tr>
        <td><%= gram.text %></td>
        <td><%= gram.image_url %></td>
        <td><%= link_to 'Show', gram %></td>
        <td><%= link_to 'Edit', edit_gram_path(gram) %></td>
        <td><%= link_to 'Destroy', gram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gram', new_gram_path %>
